---
---

<footer class="app-footer">
  <p class="app-footer--copyright">Copyright © 2023 Semiconsistent</p>
</footer>

<style>
  .app-footer {
    background-color: var(--color-neutral-9);
    color: var(--color-neutral-2);
    padding-block: var(--spacing-4);
    padding-inline: var(--app-padding-inline-small);
    text-align: center;
  }

  .app-footer--copyright {
    font-size: var(--font-size-1);
  }

  @media (min-width: 768px) {
    .app-footer {
      padding-block: var(--spacing-5);
      padding-inline: var(--app-padding-inline-large);
    }
  }
</style>
