---
export interface Props {
  backgroundColor?: string;
  backgroundPatternSrc?: string;
  smallTitle?: string;
  subtitle?: string;
  title: string;
  titleGradientColorDark?: string;
  titleGradientColorLight?: string;
}

const {
  backgroundColor = "var(--color-neutral-9)",
  backgroundPatternSrc,
  smallTitle,
  subtitle,
  title,
  titleGradientColorDark = "var(--color-primary-1-5)",
  titleGradientColorLight = "var(--color-primary-1-1)",
} = Astro.props;
---

<div
  class:list={[
    "hero-banner",
    { "hero-banner--with-pattern": !!backgroundPatternSrc },
  ]}
>
  <h1
    class:list={[
      "hero-banner--title",
      { "hero-banner--title-only-large": !!smallTitle },
    ]}
  >
    {title}
  </h1>

  {
    smallTitle && (
      <h1 class="hero-banner--title hero-banner--title-only-small">
        {smallTitle}
      </h1>
    )
  }

  {subtitle && <h2 class="hero-banner--subtitle">{subtitle}</h2>}
</div>

<style
  define:vars={{
    backgroundColor,
    backgroundPatternSrc,
    titleGradientColorDark,
    titleGradientColorLight,
  }}
>
  .hero-banner {
    align-items: center;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-block-size: var(--sizing-14);
    padding: var(--app-padding-inline-small);
  }

  .hero-banner--subtitle {
    color: var(--color-neutral-2);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-0);
    margin-block-start: 0.2em;
    text-align: center;
  }

  .hero-banner--title {
    background-clip: text;
    background-image: linear-gradient(
      45deg,
      var(--titleGradientColorDark) 30%,
      var(--titleGradientColorLight) 80%
    );
    color: transparent;
    font-size: var(--font-size-8);
    text-align: center;
  }

  .hero-banner--title-only-large {
    display: none;
  }

  .hero-banner--with-pattern {
    background-image: linear-gradient(
        0deg,
        transparent 30%,
        var(--backgroundColor) 80%
      ),
      radial-gradient(
        circle at 100% 0%,
        var(--backgroundColor) 70%,
        transparent 85%
      ),
      var(--backgroundPatternSrc);
  }

  @media (min-width: 414px) {
    .hero-banner--title-only-large {
      display: initial;
    }

    .hero-banner--title-only-small {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .hero-banner {
      min-block-size: var(--sizing-16);
    }

    .hero-banner--subtitle {
      font-size: var(--font-size-6);
    }

    .hero-banner--title {
      font-size: var(--font-size-9);
    }
  }
</style>
